<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>가족관계증명서</title>
    <link rel="stylesheet" href="/resources/style.css">
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th colspan="6">
                        가족관계증명서<br>
                        (발급일 : , 증명서확인번호 : )
                    </th>
                </tr>
                <tr>
                    <th colspan="2">등록기준지(본적)</th>
                    <td colspan="3"></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>구분</th>
                    <th>성명</th>
                    <th>출생연월일</th>
                    <th>주민등록번호</th>
                    <th>성별</th>
                </tr>
                <tr></tr>
            </tbody>
        </table>
    </div>
</body>
</html>