<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>출생신고서</title>
    <link rel="stylesheet" href="/resources/style.css">
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th colspan="6">
                        출생신고서<br>
                        (신고일 : )
                    </th>
                </tr>
                <tr>
                    <th rowspan="4">출생자</th>
                    <th colspan="2">성명</th>
                    <td></td>
                    <th>성별</th>
                    <td></td>
                </tr>
                <tr>
                    <th colspan="2">출생일시</th>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <th colspan="2">출생장소</th>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <th colspan="2">등록기준지(본적)</th>
                    <td colspan="3"></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th rowspan="2">부모</th>
                    <th>부</th>
                    <th>성명</th>
                    <td></td>
                    <th>주민등록번호</th>
                    <td></td>
                </tr>
                <tr>
                    <th>모</th>
                    <th>성명</th>
                    <td></td>
                    <th>주민등록번호</th>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="3">신고인</th>
                    <th colspan="2">성명</th>
                    <td></td>
                    <th>주민등록번호</th>
                    <td></td>
                </tr>
                <tr>
                    <th colspan="2">자격</th>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <th colspan="2">이메일</th>
                    <td></td>
                    <th>전화번호</th>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>