<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>목록</title>
    <link rel="stylesheet" href="/resources/style.css">
</head>
<body>
<div class="resident_list">
    <table>
        <thead>
        <tr>
            <th>이름</th>
            <th>주민등록등본</th>
            <th>가족관계증명서</th>
            <th>출생신고서</th>
            <th>사망신고서</th>
            <th>발급목록</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="resident: ${residentList}">
            <td th:text="${resident.name}"></td>
<!--            <td>-->
<!--                <a th:href="@{}">주민등록등본</a>-->
<!--            </td>-->
<!--            <td>-->
<!--                <a th:href="@{}">가족관계증명서</a>-->
<!--            </td>-->
<!--            <td>-->
<!--                <a th:href="@{}">출생신고서</a>-->
<!--            </td>-->
<!--            <td>-->
<!--                <a th:href="@{}">사망신고서</a>-->
<!--            </td>-->
<!--            <td>-->
<!--                <a th:href="@{}">발급목록</a>-->
<!--            </td>-->
            <td>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>