<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주민등록등본</title>
    <link rel="stylesheet" href="/resources/style.css">
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th colspan="6">
                        주민등록등본<br>
                        (발급일 : , 증명서확인번호 : )
                    </th>
                </tr>
                <tr>
                    <td colspan="2">세대주 성명</td>
                    <td></td>
                    <td>세대구성 사유 및 일자</td>
                    <td colspan="2"></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th colspan="4">주소</th>
                    <th colspan="2">신고일</th>
                </tr>
                <tr></tr>
                <tr>
                    <th>세대주 관계</th>
                    <th>성명</th>
                    <th colspan="2">주민등록번호</th>
                    <th>신고일</th>
                    <th>변동사유</th>
                </tr>
                <tr></tr>
            </tbody>
        </table>
    </div>
</body>
</html>